{% extends "layout.html" %}

{% include 'navigation.html' %}
{% block content %}
<!-- Hero Header -->
<div class="w3-content" style="max-width:1100px;margin-top:80px;margin-bottom:80px">
  <header class="w3-center w3-padding-64">
    <h1 class="w3-xxxlarge" style="font-family:'Lato',sans-serif;letter-spacing:2px;">
      Runware <span class="w3-text-black">AI</span>
    </h1>
    <p class="w3-large" style="max-width:900px;margin:0 auto;">
      Create high-quality media through a fast, affordable API. From sub-second image generation to advanced video inference,
      all powered by custom hardware and renewable energy. No infrastructure or ML expertise needed.
    </p>
  </header>
</div>
{% endblock %}